<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.just.sheyang.safety.dao.RiskpointsMapper">
  <resultMap id="BaseResultMap" type="edu.just.sheyang.safety.model.Riskpoints">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="sys_org_code" jdbcType="VARCHAR" property="sysOrgCode" />
    <result column="sys_company_code" jdbcType="VARCHAR" property="sysCompanyCode" />
    <result column="bpm_status" jdbcType="VARCHAR" property="bpmStatus" />
    <result column="factory" jdbcType="VARCHAR" property="factory" />
    <result column="riskpoint" jdbcType="VARCHAR" property="riskpoint" />
    <result column="iscontrol" jdbcType="VARCHAR" property="iscontrol" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="patrol_person" jdbcType="VARCHAR" property="patrolPerson" />
  </resultMap>
  <select id="isControl" resultType="String">
    select riskpoint from riskpoints where factory=#{param1} and time=#{param2} and iscontrol="不可控"
  </select>
  <delete id="delete_data">
    delete from riskpoints  where patrol_person=#{param1} and factory=#{param2} and time=#{param3}
  </delete>
</mapper>